<div class="card w-100 mb-3 h-100">
    <div class="card-body h-100">
        <div class="tab-content h-100" id="v-pills-tabContent">
            {{!-- products --}}
            {{> productPanel}}

            {{!-- category --}}
            {{>categoriesPanel}}
            
            {{!-- orders --}}
            {{> orderPanel}}
        </div>
    </div>
</div>